.container
    .schet
        .schet__top
            p Внимание! Оплата данного счета означает согласие с условиями поставки товара. Уведомление об оплате обязательно, в противном случае не гарантируется наличие товара на складе. Товар отпускается по факту прихода денег на р/с Поставщика, самовывозом, при наличии доверенности и паспорта.
        .schet__table-top
            table
                tr
                    td(colspan="4" rowspan="2" width="48%").bbn БАНК ГПБ (АО) Г. МОСКВА
                    td(width="7%") БИК
                    td.bbn 044525823
                tr
                    td(rowspan="2") Сч. №
                    td.btn.bbn 30101810200000000823
                tr
                    td(colspan="4").btn.small-font Банк получателя
                    td.btn.small-font Корр. счет
                tr
                    td.brn(width="5%") ИНН
                    td.bln 7727716706
                    td.brn(width="5%") КПП
                    td.bln 500345001
                    td(rowspan="3") Сч. №
                    td(rowspan="2").bbn 40702810592000002258
                tr
                    td(colspan="4").bbn Общество с ограниченной ответственностью «МартиКом»
                tr
                    td(colspan="4").btn.small-font Получатель
                    td.btn.small-font Расчетный счет
        h1.schet__title Счет на оплату № МК000016988 от 25 марта 2019 г.
        .schet__rekvizit
            .schet__rekvizit-item
                span Поставщик:
                p Общество с ограниченной ответственностью «МартиКом», ИНН 7727716706, КПП 500345001, 119620, Москва г, Волынская ул, дом № 3, кв.107, тел.: +7 (495) 7851139/41/45, +7 (495) 7851139/41/45
            .schet__rekvizit-item
                span Покупатель:
                p ООО "Альмер-А", ИНН 7724835350, КПП 772401001, 117403, Москва г, Никопольская ул, дом № 6, стр. 2, тел.: +7 (495) 973-60-49
            .schet__rekvizit-item
                span Грузополучатель:
                p ООО "Альмер-А", ИНН 7724835350, КПП 500945001,142000, Московская обл, Домодедово г, Индустриальная (Северный мкр.) ул, дом № 1, стр.1, тел.: +7 (495) 973-60-49
        p.schet__after-rekvizit Товар по счету зарезервирован на 5 дней.
        .schet__tovar
            table
                tbody
                    tr
                        th №
                        th Артикул
                        th Товары (работы, услуги)
                        th Кол-во
                        th Ед.
                        th Цена
                        th Сумма
                    tr
                        td 1
                        td 334HG51 N
                        td 334HG51 N Петля полунакладная для стекла, угол открывания 230°, отделка никель
                        td 20
                        td шт
                        td 917,92
                        td 18 358,4
        .schet__summ
            table
                tbody
                    tr
                        td Итого:
                        td 18 358,40
                    tr
                        td В том числе НДС:
                        td 3 059,73
                    tr
                        td Всего к оплате:
                        td 18 358,4
        .schet__naimenov
            p Всего наименований 1, на сумму 18 358,40 руб
        .schet__cifroy
            p Восемнадцать тысяч триста пятьдесят восемь рублей 40 копеек
        .schet__podpisi
            .schet__podpisi-rukov
                span Руководитель
            .schet__podpisi-gendir
                p Генеральный директор
                span должность
            .schet__podpisi-pole.name.vas-oa
                span подпись
                i
            .schet__podpisi-name
                p Васильева О. А.
                span расшифровка подписи
        .schet__podpisi.last
            .schet__podpisi-rukov
                span Главный (старший) бухгалтер
            .schet__podpisi-gendir
            .schet__podpisi-pole.name.vas-ge
                span подпись
                i
            .schet__podpisi-name
                p Васильева Г. Е.
                span расшифровка подписи
        .vzaimo__pechat
            .vzaimo__pechat-img
                img(src="./img/pechat.png" alt="")
            .vzaimo__pechat-copy
                p Электронно копия
        .schet__bottom-text
            p Обратите внимание, что с 01 января 2019 года в отношении отгружаемых нами товаров (выполненных работ, оказанных услуг), произойдет повышение ставки НДС с 18% до 20% согласно Федеральному закону №303-ФЗ, в связи с чем увеличится окончательная стоимость товаров. При этом существующий порядок формирования цены товара не изменится.
        .schet__bottom-img
            img(src="./img/himki.png" alt="")

