link(href='./css/landscape.css', rel='stylesheet')
.upd
    .container
        .upd__tables
            .first-table
                table
                    tbody
                        tr
                            th
                                .first-table__left
                                    p.universal Универсальный передаточный документ
                                    .status
                                        p Статус:
                                        span 1
                                    .status-num
                                        p 1 – счет-фактура и передаточный документ (акт)
                                        p 2 – передаточный документ (акт)
                            th
                                .first-table__right
                                    .first-table__top-line
                                        .first-table__top-line-item
                                            .first-table__top-line-data
                                                p Счет-фактура №
                                                div
                                                    p МК000011794
                                                    p 03 апреля 2019 г.
                                                p (1)
                                            .first-table__top-line-data
                                                p Исправление №
                                                div
                                                    p --
                                                    p --
                                                p (1а)
                                            .first-table__top-line-data
                                        .first-table__top-line-item.right
                                            p Приложение № 1 к постановлению Правительства Российской Федерации от 26 декабря 2011 г. № 1137
                                            p (в редакции постановления Правительства Российской Федерации от 19 августа 2017 г. № 981)
                                    .first-table__info
                                        .first-table__info-row
                                            p.first-table__info-name
                                                b Продавец:
                                            p.first-table__info-line Общество с ограниченной ответственностью «МартиКом»
                                            p.first-table__info-number (2)
                                        .first-table__info-row
                                            p.first-table__info-name Адрес:
                                            p.first-table__info-line 119620, Москва г, Волынская ул, дом № 3, кв.107
                                            p.first-table__info-number (2а)
                                        .first-table__info-row
                                            p.first-table__info-name ИНН/КПП продавца:
                                            p.first-table__info-line 7727716706/500345001
                                            p.first-table__info-number (2б)
                                        .first-table__info-row
                                            p.first-table__info-name Грузоотправитель и его адрес:
                                            p.first-table__info-line ООО "МартиКом",142714, Московская обл, Ленинский р-н, Молоково с, Школьная ул, дом № 6В
                                            p.first-table__info-number (3)
                                        .first-table__info-row
                                            p.first-table__info-name Грузополучатель и его адрес:
                                            p.first-table__info-line ООО "Альмер-А",142000, Московская обл, Домодедово г, Индустриальная (Северный мкр.) ул, дом № 1, стр.1
                                            p.first-table__info-number (4)
                                        .first-table__info-row
                                            p.first-table__info-name К платежно-расчетному документу №
                                            p.first-table__info-line 218 от 25.03.2019 г.
                                            p.first-table__info-number (5)
                                        .first-table__info-row
                                            p.first-table__info-name
                                                b Покупатель:
                                            p.first-table__info-line ООО "Альмер-А"
                                            p.first-table__info-number (6)
                                        .first-table__info-row
                                            p.first-table__info-name Адрес:
                                            p.first-table__info-line 117403, Москва г, Никопольская ул, дом № 6, стр. 2
                                            p.first-table__info-number (6а)
                                        .first-table__info-row
                                            p.first-table__info-name ИНН/КПП покупателя:
                                            p.first-table__info-line 7724835350/772401001
                                            p.first-table__info-number (6б)
                                        .first-table__info-row
                                            p.first-table__info-name Валюта: наименование, код
                                            p.first-table__info-line Российский рубль, 643
                                            p.first-table__info-number (7)
                                        .first-table__info-row
                                            p.first-table__info-name.auto Идентификатор государственного контракта, договора (соглашения) (при наличии):
                                            p.first-table__info-line
                                            p.first-table__info-number (8)
            .second-table
                table.tg
                    tr
                        th.tg-nrix(rowspan="2")
                            | №
                            br
                            | п/п
                        th.tg-nrix(rowspan="2")
                            | Код товара/ работ, услуг
                        th.tg-nrix(rowspan="2")
                            | Наименование товара (описание выполненных работ, оказанных услуг), имущественного права
                        th.tg-nrix(rowspan="2")
                            | Код вида товара
                        th.tg-nrix(colspan="2")
                            | Единица измерения
                        th.tg-baqh(rowspan="2")
                            | Количество (объем)
                        th.tg-baqh(rowspan="2")
                            | Цена (тариф) за единицу измерения
                        th.tg-baqh(rowspan="2")
                            | Стоимость товаров (работ, услуг), имущественных прав без налога - всего
                        th.tg-baqh(rowspan="2")
                            | В том числе сумма акциза
                        th.tg-baqh(rowspan="2")
                            | Налоговая ставка
                        th.tg-baqh(rowspan="2")
                            | Сумма налога, предъявляемая покупателю
                        th.tg-baqh(rowspan="2")
                            | Стоимость товаров (работ, услуг), имущественных прав с налогом - всего
                        th.tg-baqh(colspan="2")
                            | Страна происхождения товара
                        th.tg-baqh(rowspan="2")
                            | Регистрационный номер таможенной декларации
                    tr
                        td.tg-nrix код
                        td.tg-nrix
                            | условное обозначение (национальное)
                        td.tg-baqh
                            | цифровой код
                        td.tg-baqh краткое наименование
                    tr
                        td.tg-nrix А
                        td.tg-nrix Б
                        td.tg-nrix 1
                        td.tg-nrix 1а
                        td.tg-nrix 2
                        td.tg-nrix 2а
                        td.tg-baqh 3
                        td.tg-baqh 4
                        td.tg-baqh 5
                        td.tg-baqh 6
                        td.tg-baqh 7
                        td.tg-baqh 8
                        td.tg-baqh 9
                        td.tg-baqh 10
                        td.tg-baqh 10а
                        td.tg-baqh 11
                    tr
                        td.tg-mwxe 1
                        td.tg-cly1 МК000013336
                        td.tg-cly1
                            | 334HG51 N Петля полунакладная для стекла, угол открывания 230°, отделка никель
                        td.tg-cly1 --
                        td.tg-cly1 796
                        td.tg-cly1 шт
                        td.tg-lqy6 20,000
                        td.tg-lqy6 764,93
                        td.tg-lqy6 15 298,67
                        td.tg-0lax без акциза
                        td.tg-gx32 20%
                        td.tg-lqy6 3 059,73
                        td.tg-lqy6 18 358,40
                        td.tg-0lax 276
                        td.tg-0lax ГЕРМАНИЯ
                        td.tg-0lax
                            | 10113094/ 260618 /0010935
                    tr
                        td.tg-cly1.brn
                        td.tg-cly1
                        td.tg-yla0(colspan="6") Всего к оплате
                        td.tg-lqy6 15 298,67
                        td.tg-amwm(colspan="2") Х
                        td.tg-lqy6 3 059,73
                        td.tg-lqy6 18 358,40
                        td.tg-0lax(colspan="3")
            .first-table.third-table
                table
                    tbody
                        tr
                            th
                                .third-table__left
                                    p Документ составлен на <br>2 листах
                            th
                                .third-table__right
                                    .third-table__right-row
                                        p.third-table__right-who Руководитель организации <br>или иное уполномоченное лицо
                                        .third-table__right-podpis.name.vas-oa
                                            p
                                            span (подпись)
                                            i
                                        .third-table__right-name
                                            p Васильева О. А.
                                            span (ф.и.о.)
                                        p.third-table__right-who Главный бухгалтер <br>или иное уполномоченное
                                        .third-table__right-podpis.name.vas-ge
                                            p
                                            span (подпись)
                                            i
                                        .third-table__right-name.long
                                            p Васильева Г. Е.
                                            span (ф.и.о.)
                                    .third-table__right-row
                                        p.third-table__right-who Индивидуальный предприниматель или иное уполномоченное лицо
                                        .third-table__right-podpis
                                            span (подпись)
                                        .third-table__right-name
                                            p
                                            span (ф.и.о.)
                                        .third-table__right-rekvizit
                                            span (реквизиты свидетельства о государственной регистрации индивидуального предпринимателя)
        .option
            p.option__name Основание передачи (сдачи) / получения (приемки)
            .option__block
                p Заказ покупателя № МК000016988 от 25 марта 2019 г., Основной договор
                span (договор; доверенность и др.)
            span.option__num [8]
        .option
            p.option__name Данные о транспортировке и грузе
            .option__block
                p &nbsp;
                span (транспортная накладная, поручение экспедитору, экспедиторская / складская расписка и др. / масса нетто/ брутто груза, если не приведены ссылки на транспортные документы, содержащие эти сведения)
            span.option__num [9]
        .last-table
            table
                tbody
                    tr
                        th
                            .last-table__box
                                p.last-table__box-title Товар (груз) передал / услуги, результаты работ, права сдал
                                .last-table__box-info
                                    .last-table__box-info-col
                                        p &nbsp;
                                        span (должность)
                                    .last-table__box-info-col
                                        p &nbsp;
                                        span (подпись)
                                    .last-table__box-info-col
                                        p &nbsp;
                                        span (ф.и.о.)
                                    span.last-table__box-num [10]
                                .last-table__box-info
                                    .last-table__box-date-box
                                        p.last-table__box-date-name Дата отгрузки, передачи (сдачи)
                                        p.last-table__box-date « 03 » апреля 2019 года
                                    span.last-table__box-num [11]
                                p.last-table__box-title Иные сведения об отгрузке, передаче
                                .last-table__box-info
                                    .last-table__box-other
                                        p &nbsp;
                                        span (ссылки на неотъемлемые приложения, сопутствующие документы, иные документы и т.п.)
                                    span.last-table__box-num [12]
                                p.last-table__box-title Ответственный за правильность оформления факта хозяйственной жизни
                                    .last-table__box-info
                                        .last-table__box-info-col
                                            p &nbsp;
                                            span (должность)
                                        .last-table__box-info-col
                                            p &nbsp;
                                            span (подпись)
                                        .last-table__box-info-col
                                            p &nbsp;
                                            span (ф.и.о.)
                                        span.last-table__box-num [13]
                                p.last-table__box-title Наименование экономического субъекта – составителя документа (в т.ч. комиссионера / агента)
                                    .last-table__box-info
                                        .last-table__box-other
                                            p Общество с ограниченной ответственностью «МартиКом», ИНН/КПП 7727716706/500345001
                                            span (может не заполняться при проставлении печати в М.П., может быть указан ИНН / КПП)
                                        span.last-table__box-num [14]
                                p.mp М.П
                                .vzaimo__pechat
                                    .vzaimo__pechat-img
                                        img(src="./img/pechat.png" alt="")
                                    .vzaimo__pechat-copy
                                        p Электронно копия
                        th
                            .last-table__box
                                p.last-table__box-title Товар (груз) получил / услуги, результаты работ, права принял
                                .last-table__box-info
                                    .last-table__box-info-col
                                        p &nbsp;
                                        span (должность)
                                    .last-table__box-info-col
                                        p &nbsp;
                                        span (подпись)
                                    .last-table__box-info-col
                                        p &nbsp;
                                        span (ф.и.о.)
                                    span.last-table__box-num [15]
                                .last-table__box-info
                                    .last-table__box-date-box
                                        p.last-table__box-date-name Дата получения (приемки)
                                        p.last-table__box-date « &nbsp&nbsp; » &nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp; 20&nbsp&nbsp;&nbsp&nbsp; года
                                    span.last-table__box-num [16]
                                p.last-table__box-title Иные сведения о получении, приемке
                                .last-table__box-info
                                    .last-table__box-other
                                        p по доверенности №115 от 01 апреля 2019
                                        span (информация о наличии/отсутствии претензии; ссылки на неотъемлемые приложения, и другие документы и т.п.)
                                    span.last-table__box-num [17]
                                p.last-table__box-title Ответственный за правильность оформления факта хозяйственной жизни
                                    .last-table__box-info
                                        .last-table__box-info-col
                                            p &nbsp;
                                            span (должность)
                                        .last-table__box-info-col
                                            p &nbsp;
                                            span (подпись)
                                        .last-table__box-info-col
                                            p &nbsp;
                                            span (ф.и.о.)
                                        span.last-table__box-num [18]

                                p.last-table__box-title Наименование экономического субъекта – составителя документа
                                    .last-table__box-info
                                        .last-table__box-other
                                            p ООО "Альмер-А", ИНН/КПП 7724835350/772401001
                                            span (может не заполняться при проставлении печати в М.П., может быть указан ИНН / КПП)
                                        span.last-table__box-num [19]
                                p.mp М.П