.container
    .sverka.vzaimo
        h2 ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ
        h1 «МартиКом»
        .vzaimo__top
            p ОГРН 1107746312420, ИНН 7727716706, КПП 772901001
            p расчетный счет № 40702810592000002258 в Банке БАНК ГПБ (АО) Г. МОСКВА,
            p корр. счет № 30101810200000000823, БИК 044525823
            p 119620, Москва г, Волынская ул, дом № 3, кв.107
            p тел. +7 (495) 7851139/41/45
        .vzaimo__output
            .vzaimo__output-item
                p Исх. от 05.04.2019
            .vzaimo__output-item
                p Генеральному директору
                p Захаров Андрей Алексеевич
        .vzaimo__zayava
            p Заявление
            p о проведении взаимозачета
            p.text-justify Настоящим уведомляем Вас о том, что в соответствии со ст. 410-412 Гражданского кодекса РФ Ваша задолженность перед нашей компанией по счетам-договорам:
        .vzaimo__table
            table
                tr
                    th Документ
                    th Сумма, руб.
                tr
                    td счет № МК000012607 от 04.03.2019
                    td 5 211,06
            p на общую сумму 5 211,06 руб. прекращается зачетом встречного однородного требования по:
            table
                tr
                    th Документ
                    th Сумма, руб.
                tr
                    td счет № МК000008208 от 12.02.2019
                    td 5 211,06
        .vzaimo__after-table
            p После проведения данного взаимозачета ООО «МартиКом» подтверждает сумму задолженности Захаров Андрей Алексеевич на 05.04.2019г. в сумме 0 руб.:
            p.date Дата уведомления о вручении настоящего заявления адресату – 05.04.2019 г.
        .vzaimo__who
            .vzaimo__who-item
                p Генеральный директор
                span
                p.name.vas-oa Васильева О. А.
                    i
            .vzaimo__who-item
                p Главный бухгалтер
                span
                p.name.vas-ge Васильева Г. Е.
                    i
        .vzaimo__pechat
            .vzaimo__pechat-img
                img(src="./img/pechat.png" alt="")
            .vzaimo__pechat-copy
                p Электронно копия






