body {
  font-family: arial, helvetica, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 1.4em;
}

a {
  color: #000;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  a {
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}

h1 {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 15px;
}

p {
  font-size: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  th, td {
    padding: 4px;
    border: 1px solid #000;
    overflow:hidden;
    word-break:normal;
    font-weight: 400;
  }
}

.bold {
  font-weight: 700;
}

.text-left {
  text-align: left;
}

.center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.small-font {
  font-size: .9em;
}

.brn {
  border-right: none!important;
}

.bbn {
  border-bottom: none!important;
}

.btn  {
  border-top: none!important;
}

.bln  {
  border-left: none!important;
}

.sverka {
  padding: 40px 0;
  &__top {
    margin-bottom: 20px;
    p {
      text-align: center;
    }
  }
  &__we {
    margin-bottom: 15px;
    p {
      text-align: justify;
    }
  }
  &__table {
    margin-bottom: 20px;
    th {
      width: 50%;
      text-align: left;
    }
    td:nth-child(1),
    td:nth-child(5) {

    }
    td:nth-child(2),
    td:nth-child(6){

    }
    td:nth-child(3),
    td:nth-child(4),
    td:nth-child(7),
    td:nth-child(8){

    }
    .realization {
      td:nth-child(3),
      td:nth-child(4),
      td:nth-child(7),
      td:nth-child(8){
        text-align: right;
        white-space: nowrap;
      }
    }
  }
  &__subtext {
    margin-bottom: 30px;
    p {
      width: 100%;
    }
  }
  &__ot {
    display: flex;
    span {
      display: inline-block;
      padding-top: 20px;
      &.print {
        display: none;
      }
    }
  }
  &__ot-item {
    width: 49%;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  .mp {
    padding: 10px 0 50px;
  }
}

.name {
  position: relative;
  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-print-color-adjust: exact;
  }
  &.vas-oa {
    i {
      width: 300px;
      height: 300px;
      background: url("../img/podpis.png") no-repeat center;
      background-size: contain;
      left: -235px;
    }
  }
  &.vas-ge {
    i {
      width: 60px;
      height: 60px;
      background: url("../img/podpis2.png") no-repeat center;
      background-size: contain;
      left: -110px;
    }
  }
}

.vzaimo {
  padding: 40px 40px;
  &__top {
    margin-bottom: 40px;
    p {
      text-align: center;
      font-size: .93em;
    }
  }
  h2 {
    text-transform: uppercase;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 15px;
  }
  h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 25px;
  }
  &__output {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.2em;
  }
  &__zayava {
    margin-bottom: 30px;
    p:first-child {
      margin-bottom: 5px;
    }
    p {
      font-size: 1.2em;
    }
    p:not(.text-justify) {
      text-align: center;
    }
  }
  &__table {
    margin-bottom: 25px;
    table {
      width: 100%;
      text-align: left;
      font-size: 1.2em;
      tr:first-child {
        background-color: #f5f2dd;
      }
      tr td:last-child {
        text-align: right;
      }
    }
    p {
      font-size: 1.2em;
      margin-top: 2px;
      padding-left: 6px;
      margin-bottom: 15px;
    }
  }
  &__after-table {
    margin-bottom: 90px;
    p {
      font-size: 1.2em;
    }
    .date {
      padding-top: 30px;
    }
  }
  &__who {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    max-width: 80%;
    p {
      position: relative;
      font-size: 1.2em;
      white-space: nowrap;
    }
    span {
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #ccc;
      margin: 0 10px;
    }
  }
  &__who-item {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__pechat {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__pechat-img {
    width: 200px;
    height: 200px;
    margin-right: 70px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__pechat-copy {
    display: inline-block;
    font-size: 1.8em;
    font-weight: 700;
    border: 2px solid #000;
    padding: 13px 25px;
  }
}

.schet {
  padding-top: 20px;
  &__top {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    p {
      text-align: center;
      max-width: 62%;
      width: 100%;
      font-size: .8em;
      line-height: 1.2;
    }
  }
  &__table-top {
    margin-bottom: 20px;
    table {
      font-size: .9em;
    }
    td {
      padding: 1px;
      vertical-align: top;
      line-height: 1.4;
    }
    .small-font {
      font-size: .8em;
    }
  }
  &__title {
    text-align: left;
    font-size: 1.6em;
    border-bottom: 2px solid;
    padding-bottom: 8px;
    margin-bottom: 15px;
  }
  &__rekvizit {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
  }
  &__rekvizit-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    span {
      display: inline-block;
      width: 150px;
      flex-shrink: 0;
      font-size: 1em;
    }
    p {
      font-weight: 700;
      font-size: 1em;
    }
  }
  &__after-rekvizit {
    font-size: .9em;
    margin-bottom: 5px;
  }
  &__tovar {
    padding-left: 20px;
    margin-bottom: 5px;
    table {
      text-align: center;
      font-size: 1em;
      border: 2px solid #000;
    }
    tr th {
      font-weight: 700;
      white-space: nowrap;
    }
    td:nth-child(1),
    td:nth-child(2),
    td:nth-child(3),
    td:nth-child(5) {
      text-align: left;
    }
    td:nth-child(2) {
      white-space: nowrap;
    }
    td:nth-child(4),
    td:nth-child(6),
    td:nth-child(7) {
      text-align: right;
      white-space: nowrap;
    }
    td:nth-child(5) {
      width: 5%;
    }
    td:nth-child(6) {
      width: 12%;
    }
    td:nth-child(7) {
      width: 12%;
    }
  }
  &__summ {
    margin-bottom: 5px;
    table {
      border: 2px solid transparent;
      td {
        font-weight: 700;
        border: none;
        padding: 0;
        text-align: right;
      }
      td:nth-child(2) {
        width: 12%;
      }
    }
  }
  &__naimenov {
    p {
      font-weight: 400;
      font-size: 1em;
    }
  }
  &__cifroy {
    padding-bottom: 80px;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
    p {
      font-weight: 700;
      font-size: 1em;
    }
  }
  &__podpisi {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1em;
    margin-bottom: 25px;
    &.last {
      margin-bottom: 0;
    }
  }
  &__podpisi-rukov {
    font-weight: 700;
    font-size: .9em;
    width: 23%;
    flex-shrink: 0;
  }
  &__podpisi-gendir {
    width: 21%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      white-space: nowrap;
      font-size: 1.05em;
      font-weight: 700;
    }
    span {
      border-top: 1px solid;
      font-size: .85em;
      width: 100%;
      text-align: center;
    }
  }
  &__podpisi-pole {
    width: 25%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    &.name i {
      left: 50%;
      top: 50%;
      transform: translate(-50%,calc(-50% - 26px));
    }
    span {
      border-top: 1px solid;
      font-size: .85em;
      width: 100%;
      text-align: center;
    }
  }
  &__podpisi-name {
    width: 25%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      font-size: 1.1em;
      font-weight: 700;
    }
    span {
      border-top: 1px solid;
      font-size: .85em;
      width: 100%;
      text-align: center;
    }
  }
  &__bottom-text {
    position: relative;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    padding: 5px 20px 20px;
    margin-bottom: 5px;
    &:after {
      content: '';
      position: absolute;
      width: 75%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      background-color: #000;
      -webkit-print-color-adjust: exact;
    }
  }
  &__bottom-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    img {
      width: 808px;
      height: 145px;
    }
  }
}

.upd {
  padding-top: 30px;
  .container {
    max-width: 1400px;
  }
  &__tables {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 108px;
      top: 0;
      height: 100%;
      width: 3px;
      background-color: #000;
      -webkit-print-color-adjust: exact;
    }
  }
}

.first-table {
  font-size: .8em;
  line-height: 1.2em;
  table {
   th {
     border: none;
     padding-bottom: 5px;
   }
    tr th:nth-child(1) {
      width: 8%;
    }
    tr th:nth-child(2) {
      width: 92%;
    }
  }
  &__left {

  }
  &__right {

  }
  .universal {
    text-align: left;
    margin-bottom: 15px;
  }
  .status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    p {
      margin-right: 3px;
    }
    span {
      font-size: .85em;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #000;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }
  }
  .status-num {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: .9em;
  }
  &__top-line {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__top-line-item {
    display: flex;
    flex-direction: column;
    &.right {
      font-size: .85em;
      line-height: 1.2;
      text-align: right;
    }
  }
  &__top-line-data {
    display: flex;
    align-items: center;
    &:not(:last-of-type) {
      margin-bottom: 3px;
    }
    p:first-child {
      white-space: nowrap;
    }
    & > div {
      width: 250px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      margin: 0 4px 0 10px;
      border-bottom: 2px solid #000;
      padding: 0 10px;
      p {
        width: 100%;
        white-space: nowrap;
        text-align: center;
      }
      p:first-child {
        margin-right: 25px;
      }
    }
    & > p:first-child {
      width: 100px;
      flex-shrink: 0;
    }
    & > p:last-child {

    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
  }
  &__info-row {
    display: flex;
    justify-content: space-between;
    text-align: left;
    &:not(last-child) {
      margin-bottom: 5px;
    }
  }
  &__info-name {
    width: 230px;
    padding-right: 5px;
    flex-shrink: 0;
    &.auto {
      width: auto;
      margin-right: 200px;
    }
  }
  &__info-line {
    padding: 0 5px;
    border-bottom: 1px solid #000;
    flex: 1 auto;
  }
  &__info-number {
    flex-shrink: 0;
    width: 27px;
    text-align: center;
  }
}
.second-table {
  table {
    font-size: .8em;
    line-height: 1.2em;
  }

  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td, .tg th {
    border: 2px solid #000;
  }
  .tg .tg-cly1{text-align:left;vertical-align:top}
  .tg .tg-mwxe{text-align:right;vertical-align:top}
  .tg .tg-baqh{text-align:center;vertical-align:middle}
  .tg .tg-gx32{text-align:left;vertical-align:top}
  .tg .tg-lqy6{text-align:right;vertical-align:top}
  .tg .tg-nrix{text-align:center;vertical-align:middle}
  .tg .tg-0lax{text-align:left;vertical-align:top}
  .tg .tg-yla0{font-weight:bold;text-align:left;vertical-align:middle}
  .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
  .brn {
    border-right: 2px solid transparent!important;
  }
  tr th:nth-child(1) {
    width: 2.10%;
  }
  tr th:nth-child(2) {
    width: 5.56%;
  }
  tr th:nth-child(3) {
    width: 18.41%;
  }
  tr th:nth-child(4) {
    width: 5.9%;
  }
  tr th:nth-child(5) {
    width: 7.13%;
  }
  tr th:nth-child(6) {
    width: 5.08%;
  }
  tr th:nth-child(7) {
    width: 5.82%;
  }
  tr th:nth-child(8) {
    width: 7.7%;
  }
  tr th:nth-child(9) {
    width: 5.16%;
  }
  tr th:nth-child(10) {
    width: 4.1%;
  }
  tr th:nth-child(11) {
    width: 6.72%;
  }
  tr th:nth-child(12) {
    width: 7.7%;
  }
  tr th:nth-child(13) {
    width: 10.33%;
  }
  tr th:nth-child(14) {
    width: 8.44%;
  }
}

.third-table {
  text-align: left;
  table {
    th:nth-child(2) {
      border-bottom: 3px solid #000;
      padding-right: 0;
    }
  }
  &__left {
    display: flex;
    align-items: center;
    padding-top: 30px;
  }
  &__right {
    display: flex;
    flex-direction: column;
    padding: 40px 0 20px 10px;
    width: 100%;
  }
  &__right-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    & > * {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__right-who {
    width: 190px;
    flex-shrink: 0;
  }
  &__right-podpis {
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    width: 160px;
    flex-shrink: 0;
    span {
      width: 100%;
      text-align: center;
      font-size: .8em;
      border-top: 2px solid #000;
    }
  }
  &__right-name {
    width: 200px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &.long {
      flex: 1 0;
    }
    p {
      text-align: left;
    }
    span {
      width: 100%;
      text-align: center;
      font-size: .8em;
      border-top: 2px solid #000;
    }
  }
  &__right-rekvizit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 0;
    margin-left: 40px;
    span {
      width: 100%;
      text-align: center;
      font-size: .8em;
      border-top: 2px solid #000;
    }
  }
  .name.vas-oa i {
    width: 150px;
    height: 150px;
    left: 4px;
    top: -8px;
  }
  .name.vas-ge i {
    width: 45px;
    height: 45px;
    left: 52px;
    top: -13px;
  }
}

.option {
  padding-top: 10px;
  font-size: .8em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 10px;
  line-height: 1.2;
  margin-bottom: 10px;
  &__name {
    white-space: nowrap;
    margin-right: 10px;
  }
  &__block {
    display: flex;
    flex: 1 0;
    flex-wrap: wrap;
    p {
      width: 100%;
      border-bottom: 2px solid #000;
      text-align: left;
    }
    span {
      width: 100%;
      text-align: center;
      font-size: .8em;
    }
  }
  &__num {
    margin-left: 10px;
  }
}

.last-table {
  font-size: .8em;
  line-height: 1.2;
  table {
    th {
      padding: 0;
      border: none;
      &:nth-child(1) {
        border-right: 3px solid #000;
      }
    }
    th:nth-child(1) {
      padding-right: 10px;
    }
    th:nth-child(2) {
      padding-left: 10px;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  &__box-title {
    padding-top: 4px;
  }
  &__box-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-top: 4px;
    p {
      width: 100%;
    }
  }
  &__box-info-col {
    flex: 1 0;
    margin-right: 10px;
    & > span {
      display: inline-block;
      width: 100%;
      border-top: 2px solid #000;
      font-size: .8em;
      text-align: center;
    }
  }
  &__box-num {
    margin-left: 10px;
  }
  &__box-date-box {
    display: flex;
  }
  &__box-date-name {
    margin-right: 10px;
    white-space: nowrap;
  }
  &__box-date {
    border-bottom: 2px solid #000;
    white-space: nowrap;
  }
  &__box-other {
    flex: 1 0;
    span {
      display: inline-block;
      width: 100%;
      font-size: .8em;
      border-top: 2px solid #000;
      text-align: center;
    }
  }
  .mp {
    padding-top: 5px;
    padding-left: 60px;
  }
}

