@media print {
  html, body {
    padding:0;
    margin:0;
  }
  .container {
    max-width: 100%!important;
  }
  table {
    page-break-inside:auto;
  }
  tr {
    page-break-inside:avoid;
    page-break-after:auto;
  }
  .vzaimo__who {
    max-width: 100%;
  }
  .vzaimo {
    padding: 40px 0 0 0;
  }
  .schet__rekvizit {
    padding-right: 0;
  }
  .schet__tovar {
    padding-left: 0;
  }
  .sverka__ot-item {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span {
      display: none;
      &.print {
        display: block;
      }
    }
  }
  .schet__bottom-img {
    img {
      width: 600px;
      height: 108px;
      object-fit: contain;
    }
  }
  .upd__tables:before {
    left: 104px;
  }
  .first-table table tr th:nth-child(1) {
    width: 10%;
  }
  .first-table table tr th:nth-child(2) {
    width: 90%;
  }
  .third-table__right-row>*:not(:last-child) {
    margin-right: 10px;
  }
  .third-table__right-name {
    width: 160px;
  }
  .third-table__right-podpis {
    width: 130px;
  }
  .third-table th:nth-child(1) {
    width: 9.1%!important;
  }
  .third-table th:nth-child(2) {
    width: 90.9%!important;
  }
  .option {
    page-break-inside:avoid;
    page-break-after:auto;
  }
}
@page {
  margin: .5cm;
}